!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Subscriptions With Stripe'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Subscriptions With Stripe'}"}
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
